<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css'/>-->
</head>
<body>
<h1><%= title %></h1>

<form method="POST">

    <p>1.请选择版本</p>
    <div>
        <select id="selectVersion" name="selectVersion" onchange="gradeChange()">
            <% targets.forEach(function(target){ %>
            <option value= <%- target.version + "%1%2" + target.fileName %>><%- target.version %></option>
            <% }) %>
        </select>
    </div>

    <iframe style="margin-top:10px" frameborder="0" id="iframe" frameborder="0" width="100%" height="200"></iframe>

    <p>2.补增渠道</p>
    <div>
        <textarea name="txtChannel" cols=40 rows=4 id="txtChannel"> </textarea>
    </div>

    <p>3.请填写授权码</p>
    <div>
        <textarea name="txtAuth" cols=40 rows=1 id="txtAuth"> </textarea>
    </div>

    <input type="submit" value="提交" style="margin-top:10px" id="submitBtn">
</form>
<script src="http://cdn.staticfile.org/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">

    gradeChange();

    function gradeChange() {
        var objS = document.getElementById("selectVersion");
        var data = objS.options[objS.selectedIndex].value;
        document.getElementById("iframe").src = '/jiayaosu/filelist?v=' + data.split("%1%2")[0];
    }

    function resize(height) {
        var iframe = document.getElementById('iframe');
        iframe.style.height = height + 'px';
    }

    $('#submitBtn').click(function (data) {
        var txtChannel = $('#txtChannel').val();
        txtChannel = txtChannel.replace(/\n/g,     "<br>");
        var txtAuth = $('#txtAuth').val();
        var objS = document.getElementById("selectVersion");
        var data = objS.options[objS.selectedIndex].value;

        $.post("/jiayaosu", {"channel": txtChannel, "auth": txtAuth, "apkFileName": data.split("%1%2")[1]}).done(function (data) {
            if(data.error ) {
                alert(data.error);
            } else {
                alert("success");
            }

        }).fail(function (xhr, status, error) {
            alert("error");
        }).always(function (data) {
        });
        return false;
    });
</script>
</body>
</html>
