<style type="text/css">body, html {
        background: #fff;
        font-family: "Bitstream Vera Sans", "Lucida Grande", "Lucida Sans Unicode", Lucidux, Verdana, Lucida, sans-serif;
    }

    tr:nth-child(even) {
        background: #f4f4f4;
    }

    th, td {
        padding: 0.1em 0.5em;
    }

    th {
        text-align: left;
        font-weight: bold;
        background: #eee;
        border-bottom: 1px solid #aaa;
    }

    #list {
        border: 1px solid #aaa;
        width: 100%;
    }

    a {
        color: #a33;
    }

    a:hover {
        color: #e33;
    }
</style>

<div class="content" id="content">

    <table id="list" cellpadding="0.1em" cellspacing="0">

        <colgroup>
            <col width="55%"/>
            <col width="20%"/>
            <col width="25%"/>
        </colgroup>

        <tr >
            <a href="?C=N&O=D"> -> Download All [<%- channelFiles.length %>]</a>
        </tr>
        <tr >
            <th><a href="?C=N&O=A">File Name</a>&nbsp;<a href="?C=N&O=D">&nbsp;&#8595;&nbsp;</a></th>
            <th><a href="?C=S&O=A">File Size</a>&nbsp;<a href="?C=S&O=D">&nbsp;&#8595;&nbsp;</a></th>
            <th><a href="?C=M&O=A">Date</a>&nbsp;<a href="?C=M&O=D">&nbsp;&#8595;&nbsp;</a></th>
        </tr>
        </thead>
        <% channelFiles.forEach(function(channelFile){ %>
        <% data = channelFile; %>
        <% include item_channel.ejs %>
        <% }) %>
    </table>
</div>

<body onload="load()">
</body>

<script>

    function $(id) {
        return document.getElementById(id);
    }

    function load() {
        setContent();
    }

    function setContent() {
        var height = 20;
        var content = document.getElementById('content');
        var style = window.getComputedStyle
                ? window.getComputedStyle(content, null)
                : content.currentStyle;
        height += parseInt(style.height, 10);
        parent.window.resize(height);
    }
</script>