<div class="item_channel" style="margin-top:4px">

    <tr>
        <td><a class="name" href="<%- channelFile.url %>"><%- channelFile.name %></a></td>
        <td><%- channelFile.size %></td>
        <td><%- channelFile.date %></td>
    </tr>

</div>